<?xml version="1.0" encoding="UTF-8"?>
each token in allTokens
    case token.attributes.category
        when 'color'
            - var tag = 'string'
        when 'size'
            - var tag = 'integer'
        when 'time'
            - var tag = 'real'
        when 'opacity'
            - var tag = 'real'
        when 'content'
            - var tag = 'string'
        default
            - var tag = 'string'
    key #{token.name}
    dict
        if token.comment
            // #{token.comment}
        if token.type
            key type
            string #{token.type}
        key value
        #{tag}(name=token.name) #{token.value}
