<?xml version="1.0" encoding="UTF-8"?>
each prop in allProperties
    case prop.attributes.category
        when 'color'
            - var tag = 'string'
        when 'size'
            - var tag = 'integer'
        when 'time'
            - var tag = 'real'
        when 'opacity'
            - var tag = 'real'
        when 'content'
            - var tag = 'string'
        default
            - var tag = 'string'
    key #{prop.name}
    dict
        if prop.comment
            // #{prop.comment}
        if prop.type
            key type
            string #{prop.type}
        key value
        #{tag}(name=prop.name) #{prop.value}
